{% extends '::base.html.twig' %}
{% block title %}Error{% endblock %}

{% block pageTitle %}An error occurred{% endblock %}

{% block body %}
<p>Sorry, something went wrong, please try again.</p>
{% endblock %}
