<ul id="{% if artFolder == 'compressed' %}artList{%else%}featuredArtList{%endif%}">
{% for artWork in artWorks %}
<li>
    {% if artFolder == 'compressed' %}
    <img src="{{ asset('bundles/ISpySi/images/artWork/' ~ artFolder ~ '/') ~ artWork.filename }}.jpg" alt="{{ artWork.filename }}" />
    {% else %}
    <img class="featuredArt" src="{{ asset('bundles/ISpySi/images/artWork/') ~ artWork.filename }}.jpg" alt="{{ artWork.filename }}" />
    {% endif %}
    {# 
    this template is referred to from the ArtController, featuredArtAction and is 
    in turn called from another page, passing in a number of items to load
    this template loops through those items and outputs them
    #}
</li>
{% endfor %}
</ul>